/*
 * Copyright (c) 2024 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/outputs.h>

#include "keys_es.h"
#include "elpekenin/behaviors.dtsi"

#define QWE 0
#define DVO 1
#define NAV 2
#define SYM 3
#define UTL 4

#define GREEN 0
#define BLUE  1

/ {
    mod_morphs {
        M_BSP: bspc_or_del {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp BSPC>, <&kp DEL>;
            mods = <(MOD_LSFT)>;
        };

        M_VOL: volup_or_voldn {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp C_VOL_UP>, <&kp C_VOL_DN>;
            mods = <(MOD_LSFT)>;
        };
    };

    macros {
        __SPC: space_times_4 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp SPC>,
                       <&kp SPC>,
                       <&kp SPC>,
                       <&kp SPC>;
        };
    };

    tap_dances {
        T_Z: z_lt_gt {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            bindings = <&kp Z>, <&kp ES_LT>, <&kp ES_GT>;
        };

        T_ACT: acute_ntilde {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            bindings = <&kp ES_ACUTE>, <&kp ES_N_TILDE>;
        };

        T_SPC: space_indent {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            bindings = <&kp SPC>, <&__SPC>;
        };
    };

    conditional_layers {
        compatible = "zmk,conditional-layers";
        tri_layer {
            if-layers = <NAV SYM>;
            then-layer = <UTL>;
        };
    };

    layer_callbacks {
        compatible = "elpekenin,layer-callback";
        utils_on {
            layer = <UTL>;
            event = "on-activation";
            bindings = <&gpio GREEN GPIO_ON>;
        };
        utils_off {
            layer = <UTL>;
            event = "on-deactivation";
            bindings = <&gpio GREEN GPIO_OFF>;
        };
    };
};

// patch to use PR code while still "importing" userspace
&df {
    compatible = "zmk,behavior-default-layer";
};

/ {
    keymap {
        compatible = "zmk,keymap";

        qwerty {
            bindings = <
                &kp TAB       &kp Q         &kp W         &kp E         &kp R         &kp T         /**/     &kp Y         &kp U         &kp I         &kp O         &kp P         &M_BSP
                &none         &kp A         &kp S         &kp D         &kp F         &kp G         /**/     &kp H         &kp J         &kp K         &kp L         &T_ACT        &kp ES_PLUS
                &kp LSHFT     &T_Z          &kp X         &kp C         &kp V         &kp B         /**/     &kp N         &kp M         &kp COMMA     &kp DOT       &kp ES_MINUS  &kp ES_GRAVE
                &kp LCTRL     &kp LGUI      &kp LGUI      &kp LALT      &mo NAV       &T_SPC        /**/     &kp ENTER     &mo SYM       &kp RALT      &none         &none         &M_VOL
            >;
        };

        dvorak {
            bindings = <
                &kp TAB       &none         &none         &none         &kp P         &kp Y         /**/     &kp F         &kp G         &kp C         &kp R         &kp L         &M_BSP
                &none         &kp A         &kp O         &kp E         &kp U         &kp I         /**/     &kp D         &kp H         &kp T         &kp N         &kp S         &none
                &kp LSHFT     &none         &kp Q         &kp J         &kp K         &kp X         /**/     &kp B         &kp M         &kp W         &kp V         &kp Z         &none
                &kp LCTRL     &kp LGUI      &kp LGUI      &kp LALT      &mo NAV       &T_SPC        /**/     &kp ENTER     &mo SYM       &kp RALT      &none         &none         &M_VOL
            >;
        };

        navigation {
            bindings = <
                &kp ESC       &kp N1        &kp N2        &kp N3        &kp N4        &kp N5        /**/     &kp N6        &kp N7        &kp N8        &kp N9        &kp N0       &trans
                &trans        &none         &none         &none         &none         &none         /**/     &kp LEFT      &kp DOWN      &kp UP        &kp RIGHT     &none        &trans
                &trans        &none         &none         &none         &none         &none         /**/     &none         &none         &none         &none         &none        &trans
                &trans        &trans        &trans        &trans        &trans        &trans        /**/     &trans        &trans        &trans        &trans        &trans       &trans
            >;
        };

        symbols {
            bindings = <
                &kp ES_BSLH   &none         &none         &none         &none         &none         /**/     &none         &kp ES_IQMARK &kp ES_QMARK  &none         &kp ES_SQT    &trans
                &trans        &none         &none         &none         &none         &none         /**/     &none         &kp ES_LBKT   &kp ES_RBKT   &none         &none         &trans
                &trans        &none         &none         &none         &none         &none         /**/     &none         &kp ES_LBRC   &kp ES_RBRC   &none         &none         &trans
                &trans        &trans        &trans        &trans        &trans        &trans        /**/     &trans        &trans        &trans        &trans        &trans        &trans
            >;
        };

        utils {
            bindings = <
                &kp F12       &kp F1        &kp F2        &kp F3        &kp F4        &kp F5        /**/     &kp F6        &kp F7        &kp F8        &kp F9        &kp F10       &kp F11
                &bt BT_CLR    &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &none         &sys_reset    /**/     &df DVO       &none         &none         &none         &none         &trans
                &trans        &none         &none         &none         &none         &bootloader   /**/     &df QWE       &none         &none         &none         &none         &trans
                &trans        &trans        &trans        &trans        &trans        &version      /**/     &out OUT_TOG  &trans        &trans        &trans        &trans        &trans
            >;
        };
    };
};
